.header {
    display: flex;
    position: relative;
    border: 1px solid #808080;
    background-color: #0973b9;
    width: 100%;
    height: 60px;

}

.header .header-left {
    display: flex;
    position: relative;
    height: 100%;
    width: 50%;
}

.header .header-left .header-logo{
    align-items: center;
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
}

.header .header-left .header-logo .header-logo-left {
    background-image: url("./logo/Contents/images/icon-left-header.png");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat; 
}
.header .header-left .header-logo .header-logo-right {
    background-image: url("./logo/Contents/images/logo-text.png");
    width: 120px;
    height: 32px;
    background-repeat: no-repeat;
}

.header .header-left .drop-restaurent {
    padding: 15px;
    padding-left: 100px;
}
.header .header-left .drop-restaurent select{
    width: 200px;
    height: 30px;
    line-height: 55px;
    background-color: #005082;
    color: #ffffff;
    border: none;
    padding-left: 5px;
}

.header .header-right {
    position: relative;
    height: 100%;
    width: 50%;
}
.header .header-right .drop-language{
    padding: 15px;
    padding-left: 100px;
}

.header .header-right .drop-language select{
    width: 200px;
    height: 30px;
    line-height: 55px;
    background-color: #005082;
    color: #ffffff;
    border: none;
    padding-left: 5px;
}
