.customer-add {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    display: none;
}

    .customer-add .customer-add-content {
        width: 350px;
        height: 300px;
        background-color: #0973b9;
        border-radius: 4px;
    }

    .customer-add .customer-add-content .title{
        width:100%;
        height: 5%;
        display: flex;
        padding: 10px;
        padding-top:15px;
        color: #ffffff;
    }
        .customer-add .customer-add-content .title .close {
            padding-right: 20px;
            margin-left: auto;
            cursor: pointer;
        }
        .customer-add .customer-add-content .title .close:hover {
            color: #ff0000;
            
        }

.customer-add .customer-add-content .content {
    background-color: #ffffff;
    height: 77%;
    padding: 10px;
    margin: 5px;
    margin-top: 0px;
   
}

    .customer-add .customer-add-content .content .content-input{
        height: 80%;
    }
            .customer-add .customer-add-content .content input{
            padding: 5px;        
            margin:3px;
        }
    .customer-add .customer-add-content .content .content-button {
        height: 20%;
        display:flex;
    }

    .customer-add .customer-add-content .content .content-button button{
        position: relative;
        left: 40%;
        height: 25px;
    }